1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
a.  *
b.  'hello''
c.  -87.8
d.  -
e.  /
f.  +
g.  6

Answer :   Values are     -87.8 and 6 are int data type and  ‘hello’ is a string data type
                   Mathematical operators or Expressions are : ( - , /,  +, *)  . These Expressions are also called Arithmetic Operators.

2. What is the difference between string and variable?


Answer:

    String :
           String is a collection of characters, these characters can be alphabets, digits or special                             characters.String is a data type.
           The string which consists only alphabets is called alphabetic string.
           The string which consists of alphabets and digits is called alphanumeric string.
           “str" class or data type is used to create string object
    
    
    Variable :
           Variable is a name that is used to memory allocation.Python Variable is also known as an identifier to 
             hold  value.
           Variables in Python can only contain  alpha-numeric characters and underscores(A-Z,0-9 and _).
           It can hold any data type . It may be a string,  float, int and bool.  
           A Variable Cannot start with a number
           A Variable name must start with a letter or the underscore character

3. Describe three different data types.

Answer:
    
Int Data Type:

    Int data type is used to allocate  for integer values
    It is a value without precision.
    The integer can be  positive or negative values.
    Integer data type reserve memory of unlimited length.

Float Data Type:

    This value is represented by float class.
    It is a real number with floating point representation.
    It is specified by a decimal point.

Complex Number :

   Complex number is represented by complex class.
   
   It is specified as real part and imaginary number.
   
   It is immutable type i.e after creating complex number it cannot modified real and imaginary numbers.

4 . What is an expression made up of? What do all expressions do?

Answer :

     An Expression is a construct made-up of  variables, operators and  method invocations which are constructed            according to the syntax of the language, that evaluates to a single value.
     Expressions are combination of values, and operators and always evaluate down to a single value

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer :

      Expression:
            Evaluation of an expression always returns a result value.
            Evaluation of a statement does not change state.
            Every expression cannot be a statement
      Statement:
            Execution of statement may or may not produces a result value.
            The execution of a statement changes state.
            Every statement can be an expression

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [1]:
bacon = 22
bacon = bacon+1
print(bacon)

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [2]:
x = 'spam'+'spamspam'
y = 'spam'*3
print(x)
print(y)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

Answer : 

      Variable names should be start with alphabets and not with numbers and special characters. 
      Variables must be start with letters and special character (_) called underscore.
      No spaces are allowed between words while creating variables

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer : 
    
    The int(), float(), and str() functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.
    To get integer  value we use the function called int() and it is a type conversion function.
    To get float value we use the function called float() and it is a type conversion function.
    To get string  we use the function called str() and it is a type conversion function.

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.’

Answer :
         
         This is a string and it having integer value.we need to concatenate string with integer values then
         we don’t get error.By type conversion function, convert int to str by str(99) .
         "I have eaten " + "  “ +  str(99)  + “ “ + “burritos”.
         
        Output :
         I have eaten 99 burritos.

In [10]:
### As per question we get an error while we do this.
x = 'I have eaten'+99+'burritoes'
print(x)

TypeError: can only concatenate str (not "int") to str

In [9]:
### To avoid an error given in the above question the code written below
y = 'I have eaten' + ' ' + str(99) + ' '+'burritoes'
print(y)

I have eaten 99 burritoes